/*
Colors:
#f5fffd
#D5DEDC
#424544
#3E5E58
*/


* {
    font-family:"Helvetica",  'Times New Roman', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #f5fffd;
}

ul {
    padding-left: 0px;
}

img {
    float:left;
    border-style:solid;
    border-color:#424544;
}

a {
    color:#D5DEDC;    
}

a:visited {
    color:#D5DEDC;
}

a:hover {
    color:#424544;
    background-color: #D5DEDC;
}   

a:active {
    color:#D5DEDC;
}  

li a {
    padding:12px;
    border-style:solid;
    border-color: black;
    background-color: #424544;
}

.header {
    display:flex;
    justify-content: center;
    color: #3E5E58;
}

.menu {
    display:flex;
    justify-content: center;
}

.menu ul {
    display:flex;
    gap: 16px;
    list-style-type: none;
}

.recipe-title {
    display:flex;
    justify-content: center;
}

.main-chunk {
    display: flex;
    gap: 16px;
    justify-content: space-around;
}

.main-middle-chunk {
    display: flex;
    flex-direction: column;
}

.directions-container {
    background-color: #3E5E58;
    color: white;
    padding:12px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredients ul {
    padding-left: 16px;
}

.recipe-info ul {
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    min-width: 200px;
    list-style-type: none;
    background-color: #D5DEDC;
    border-style:solid;
    border-color:#424544;
}